
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>自我介紹</title>
  
  
  </head> 
  <style>
    body{
      font-family:     TradeGothic, sans-serif;
    margin-left:                       -512px;
    margin-top:                        -384px;
    position:                        absolute;
    height:                             500px;
    width:                             1024px;
    left:                                 50%;
    top:                                  50%;
    background-image: url(../static/bg.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover
   
    
    }

  </style>
  <body 
  >

    <br><br><br><br>
   
    <font size="300" face="DFKai-sb"><center><b>Welcome my website</center></b></font>
   
    
      
    <br><br>
  
      <center>
      <table>
        <tr>
          <td  align="center" width = 600 ><img src="{{ url_for('static', filename='sample.jpg')}}" width="700" height="550" align = right />></td>
          <td  align="center" width =1500  valign="middle" ><font size="40" face="DFKai-sb"><b>姓名:朱依淩 <br><br>系級:資管系 <br><br>學校:高科大</b></font></td>
        </tr>
        <tr>
          <td height = "200" ></td>
        </tr>
      </table>
      <table  style="border:50px #d182ff groove; " cellpadding="20" border='1' >
          </tr>
          <td  width = 300 align = center><img src="{{ url_for('static', filename='dessert.jpg')}}" width="300" height="280" /><br><font size="100" face="DFKai-sb"><b>甜點</b></font></td>
          <td width = 500><font size="120" face="DFKai-sb"><b>喜歡吃甜點及做甜點，親手做過巧克力熔岩蛋糕!</b></font></td>  
          </tr>
          <tr>
            <td  align = center><img src="{{ url_for('static', filename='ball.png')}}" width="300" height="280" /><br><font size="100" face="DFKai-sb"><b>桌球</b></font></td>
           <td><font size="120" face="DFKai-sb"><b>從國、高中開始假日多少跟家人打過桌球，慢慢覺得很有趣。</b></font></td>      
         </tr>
         <tr>
          <td align = center><img src="{{ url_for('static', filename='human.jpg')}}" width="300" height="280"  /><br><font size="100" face="DFKai-sb"><b>動漫</b></font></td>
          <td><font size="120" face="DFKai-sb"><b>動漫、小說是我最頻繁的休閒活動。</b></font></td>
         </tr>
        
         

      </table>
      <br><br><br><br><br><br><br><br><br>    <br><br><br><br><br><br><br><br><br>    
      </center>
   
  </body>
</html>