<!doctype html>
<html lang="en">
<head>
   
</head>
<body>
    <table border="1" cellpadding="5" cellspacing="5">
        {% for row in data %}
            <tr>
            {% for d in row %}
                <td>{{ d }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
        
</body>
</html>
